{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    

    <!-- <div>
        <table id="tbDetails" width="800" runat="server" clientidmode="Static">
            <tbody>
             <tr><td>id</td><td>tracelet</td><td>open</td><td>close</td><td>volume</td></tr>
             </tbody>
             </table>
    </div> -->
    <div class="container">
        <table class="table table-dark" id="example">

        </table>
    </div>
   
   
    
        
   
</body>
</html>